{% extends 'base.html.twig' %}

{% block title %}Server access{% endblock %}

{% block nav %}
    <li class="nav-item">
        {% for message in app.flashes('notice') %}
            <a href="{{ path('downloadJson')}}" class="nav-link js-scroll-trigger">
                Download json {{ message }}
            </a>
        {% endfor %}
    </li>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col"><canvas id="methodDist" ></canvas></div>
        <div class="col"><canvas id="answerDist" ></canvas></div>
        <div class="w-100"></div>
        <div class="col"><canvas id="requestMinute" ></canvas></div>
        <div class="col"><canvas id="sizeDistribution" ></canvas></div>
    </div>
</div>
{% endblock %}

{% block footer %}
    
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/main.js') }}"></script>
    <script src="{{ asset('assets/js/methodDistChart.js') }}"></script>
    <script src="{{ asset('assets/js/answerDistChart.js') }}"></script>
    <script src="{{ asset('assets/js/requestMinuteChart.js') }}"></script>
    <script src="{{ asset('assets/js/sizeDistributionChart.js') }}"></script>
{% endblock %}










